language: java
jdk:
- oraclejdk8
install:
- mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
script:
- mvn test
- ./mvnw clean install -B
- ./mvnw clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
env:
  global:
  - secure: "rkRjEz9PaAaXak9MF+HqpLwEeVaszepQGETc2bKiAW62CiZjLJxr8beOB9QaxJQiGQyAM0V+pXGAMMJ/oi6YV5lLYat7u7434PSRvQ3RMFB+mNn0aBp2fPP0RVa4bQU7O/v6e1O56cyixzufIOX0S3cO3t3xi6GGK+N6BOdnSi8LeY6Nx1k0PmIcyBdFF0Bo1gJF8OufY2KqJ/9kGVXcyzjMuwV7llwvbnR/XaGa3J1gTDZkJBK99Eq8J5w55YBRDARalt37hxwAGaN7V6vamQkgc0aAc2NMfZGMaslXaBLc7qzo+sFj/hVM4KQsBoPGmFs4XqLaKc/ouQoN4ODh4phhv2K4XzPj6jBesxmufOAmzAxPel5nz93aum53bmWF9FSat+UI7FKpHyGpFT6LlELE49b9yaXfd1+ufgdXNzS5HBEKz9fO7CoNDU7oob1Plixpg8J9Hr7hTvr6TzD+DS132MhoIlWcV+ml82MxeAHn9MYZ4xT8nZnu1mrDLs23U1VrtFmtgShBHFNO/FmI8Nu+BLuT2wXhhf3YgLHRsEYJnUUbRkYRiLSdmupZo7ZYY3VdKAeHhBdZowpFCiwYsw4ZUAavlW1yd6wEcgML4qBNaeZW/QnwkHg+cRq3acOFLOPUO4gQBLiBVCbpPovCi5jeS1+pUjC1XASMkUgeTK8="

addons:
  sonarcloud:
    organization: "annaodziemczyk-github"
    token:
      secure: $SONAR_TOKEN
before_install:
  - chmod +x mvnw
deploy:
  provider: cloudfoundry
  api: https://api.run.pivotal.io
  username: anna.odziemczyk@mycit.ie
  password:
    secure: itt/cgM7DDIGn6zKK04LT95hPFAn1Qg5FrP5oSa4q4JkDbLBzra4p8vYYZqOJjTdemS/MBkchauhSdXcPFRcntF6Ih6BU/uqKGO7frA2ce18zotTS/1VdJH0I7cjcFGXEGX9NhOLf+O7A/VOL3SrUw6U1NqGTA68UrQetI0nTEcidJXVuCNZBszGESegbiBqeqnH8hV28Xqi67ugT+QRF1v4kN40AsvVlL5PzzJJUPTsN1AOoH3tk76GhCMu4AW5X1JFWitp5SZs4QBvlhaEacb791FqNz7vg8FVoxeIWwj+Tq2CbC5vhqsJUXAbwOXeOtLpU9vuXKUmyFYIlOF+HCUf+GJn3uP3RoRvsucRACnNhKFtmN4wk4IdCQDkKHZJSDIuP9xOdANbgDdRUZQslhzi5U7w7mbB0fs5R1HLWe2aKryz9QVd8/3pC6zWHDQyyWEMoyNlUD1hQXVyRjXq7X6Nicp2YOoDjgQjwj8jvlan+G3czNBKr8I/tZKRfVkiLK4Usx2j/QIAYcJwKyiJOP/8jBfw5RkCoX7edB5usH9+IryF5n0zmEgr6mcr86E5Jd6/glku9JmJ/AMmT6feZo4P1SHOcR8GhGE/GdD+XrBlAdukGb/9ffIleMorhDRg0M0jfyU7Vd6R/xELGuLDC9HRso61dYnQ0MAJEj6o5Oc=
  organization: anna.odziemczyk-org
  space: development
  app: rfidcloneinspector
  skip_cleanup: true
  file: restapi/target/restapi-0.0.1-SNAPSHOT-exec.jar
  on:
    repo: annaodziemczyk/rfid-clone-inspector
