language: java
jdk:
- oraclejdk8
install:
- mvn install -DskipTests=true -Dmaven.javadoc.skip=true -B -V
script:
- mvn test
- ./mvnw clean install -B
- ./mvnw clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
env:
  global:
  - secure: "R2Shg7nf2WHs0r6UrE7n0l9ydR4FyWuTBmY4WSLLvsQ8myDa+L/qaP+SHe8jxD5LvWMGLTT+HnQdVOf/Xu14G7gDIWkertoKaYZkqvxxGMZB6Mv+gajzWlQCewkENl2i5gqxXvn1X0hEHPrf5dsrDRCxTYWDx7aoLeGRocaFJGnzrD80dbij5GIFJGLiVI0JNV1lSYDpdePuQEYrHZ5gKbPrfP+0+Nmq6VLn/grYldD4iGuA6De1Iq2Cto4TALx7mHzvj6e1agLUHPz8C6m2c3wJr5qucWp+EbGiINAgdMtxebZLyVKe70VxJI1D99q+enhn5TQjXf76e6AYJDxb0gss+m2NDb/TnQrQgDbBVwxZxY8HgfdrO3x7yY8wr/k0OoH00p+w/20LAGW6WRiJl459fWvHKJxN4YZzDCZw4aeYfmE4AivB/s5VLYtBbn2cF03D9RmT8lWvHwy0Ub51BfVfKPSNxrZqt+rjIIaeK8PlZfvhZsOBn6ZQviG7YIGbGi4o+TWJJRzvCYnLLxIrGZ6ELpCMlxWGpZlnm5SrPOE0ZEprKYJ3csRmWF+1hZxVxJQ3Fchkac6nalsCEEZ3kCPLngifaeAu7U3VDcztngkiVIII1rV2LjtNQ6xVWXB3cYZ+TehF1Ba9skxf9TYRmfkwlw1z76Ebu8GSORDHYlE="

addons:
  sonarcloud:
    organization: "annaodziemczyk"
    token:
      secure: $SONAR_TOKEN
before_install:
  - chmod +x mvnw
deploy:
  provider: cloudfoundry
  api: https://api.run.pivotal.io
  username: anna.odziemczyk@mycit.ie
  password:
    secure: itt/cgM7DDIGn6zKK04LT95hPFAn1Qg5FrP5oSa4q4JkDbLBzra4p8vYYZqOJjTdemS/MBkchauhSdXcPFRcntF6Ih6BU/uqKGO7frA2ce18zotTS/1VdJH0I7cjcFGXEGX9NhOLf+O7A/VOL3SrUw6U1NqGTA68UrQetI0nTEcidJXVuCNZBszGESegbiBqeqnH8hV28Xqi67ugT+QRF1v4kN40AsvVlL5PzzJJUPTsN1AOoH3tk76GhCMu4AW5X1JFWitp5SZs4QBvlhaEacb791FqNz7vg8FVoxeIWwj+Tq2CbC5vhqsJUXAbwOXeOtLpU9vuXKUmyFYIlOF+HCUf+GJn3uP3RoRvsucRACnNhKFtmN4wk4IdCQDkKHZJSDIuP9xOdANbgDdRUZQslhzi5U7w7mbB0fs5R1HLWe2aKryz9QVd8/3pC6zWHDQyyWEMoyNlUD1hQXVyRjXq7X6Nicp2YOoDjgQjwj8jvlan+G3czNBKr8I/tZKRfVkiLK4Usx2j/QIAYcJwKyiJOP/8jBfw5RkCoX7edB5usH9+IryF5n0zmEgr6mcr86E5Jd6/glku9JmJ/AMmT6feZo4P1SHOcR8GhGE/GdD+XrBlAdukGb/9ffIleMorhDRg0M0jfyU7Vd6R/xELGuLDC9HRso61dYnQ0MAJEj6o5Oc=
  organization: anna.odziemczyk-org
  space: development
  app: rfidcloneinspector
  skip_cleanup: true
  file: restapi/target/restapi-0.0.1-SNAPSHOT-exec.jar
  on:
    repo: annaodziemczyk/rfid-clone-inspector
